.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #27262685;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    color:black;
}

.list-item a {
    color: white;
    height: 100%;
    
    border-bottom: 4px solid transparent;
    color: white;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
}

.list-item a:hover,
.list-item a.active {
  
    color: white;
    color:rgba(136, 183, 237, 0.844);
}

